<div class="container">
    <hr>
    <h1 class="text-center"> <i class="fas fa-graduation-cap"></i>{{'school.title' | translate}} </h1>

    <section class="edcuation-wrapper">
        <!-- // aelion -->
        <div class="education-container shadow">

            <div class="education row">
                <div class="left col-lg-8 col-sm-12 udemy">
                    <p class="pl-5"><i class="far fa-calendar-alt"></i>2017/2020</p>
                    <div class="row">
                        <h2 class="col-lg-6 col-sm-12"> <i class="fas fa-location-arrow"></i>Django & Python</h2>
                        <h2 class="col-lg-6 col-sm-12"> <i class="fas fa-location-arrow"></i> Angular 9 & Firebase</h2>
                        <h2 class="col-lg-6 col-sm-12"> <i class="fas fa-location-arrow"></i> Spring Boot & Angular </h2>
                        <h2 class="col-lg-6 col-sm-12"> <i class="fas fa-location-arrow"></i> {{'school.dev' | translate}}</h2>
                    </div>
                         <h3 class="pl-5">Udemy ({{'school.udemy' | translate}})</h3>
                    </div>
                    <div class="col-lg-4 col-sm-12 text-center pic-container">
                        <img src="../assets/images/udemy.png" width="160">
                    </div>
            </div>
            <ul class="list-group list-group-horizontal-lg check-list">
                <li class="list-group-item"> <i class="fas fa-check"></i> Html/Css3/JS</li>
                <li class="list-group-item"> <i class="fas fa-check"></i> Spring Boot</li>
                <li class="list-group-item"> <i class="fas fa-check"></i> Django</li>
                <li class="list-group-item"> <i class="fas fa-check"></i> Angular</li>
                <li class="list-group-item"> <i class="fas fa-check"></i> SQL</li>
                <li class="list-group-item"> <i class="fas fa-check"></i> PHP</li>
            </ul>
        </div>
        <!-- // aelion -->
        <div class="education-container shadow">

            <div class="education row">
                <div class="left col-lg-8 col-sm-12">
                    <p class="pl-5"><i class="far fa-calendar-alt"></i> {{'school.aelionDate' | translate}}</p>
                    <h2 class=""> <i class="fas fa-location-arrow"></i> POEI Java Fullstack(Spring Boot/Angular)</h2>
                    <h3 class="pl-5">Aelion (Toulouse)</h3>
                </div>
                <div class="col-lg-4 col-sm-12 text-center pic-container">
                    <img src="../assets/images/aelion.png" width="160">
                </div>
            </div>
            <ul class="list-group list-group-horizontal-lg check-list">
          
            <li class="list-group-item"> <i class="fas fa-check"></i> Spring Boot</li>
            <li class="list-group-item"> <i class="fas fa-check"></i> Angular</li>
            <li class="list-group-item"> <i class="fas fa-check"></i> Git</li>
            <li class="list-group-item"> <i class="fas fa-check"></i> MySql/PosgreSQL</li>
            </ul>
        </div>

        <!-- // 123 -->
        <div class="education-container shadow">
            <div class="education row">
                <div class="left col-lg-8  col-sm-12">
                    <p class="pl-5"><i class="far fa-calendar-alt"></i> {{'school.123Date' | translate}}</p>
                    <h2 class=""> <i class="fas fa-location-arrow"></i>{{'school.123Stage' | translate}} </h2>
                    <h3 class="pl-5">132Multimedia (Toulouse)</h3>
                </div>
                <div class="col-lg-4 col-sm-12 text-center pic-container">
                    <img src="../assets/images/123.png" width="160" class="my-auto">
                </div>
            </div>
            <ul class="list-group list-group-horizontal-lg check-list">
                <li class="list-group-item"> <i class="fas fa-check"></i> WebDesign</li>
                <li class="list-group-item"> <i class="fas fa-check"></i> Asp.Net MVC</li>
                <li class="list-group-item"> <i class="fas fa-check"></i> Git</li>
                <li class="list-group-item"> <i class="fas fa-check"></i> Bootstrap</li>
            </ul>
        </div>
        <!-- // adrar -->
        <div class="education-container shadow">
            <div class="education row">
                <div class="left col-lg-8  col-sm-12">
                    <p class="pl-5"><i class="far fa-calendar-alt"></i>{{'school.adrarDate' | translate}}</p>
                    <h2 class=""> <i class="fas fa-location-arrow"></i>{{'school.adrar' | translate}} </h2>
                    <h3 class="pl-5">Adrar (Toulouse)</h3>
                </div>
                <div class="col-lg-4 col-sm-12 text-center pic-container">
                    <img src="../assets/images/adrar.png" width="160">
                </div>
            </div>
            <ul class="list-group list-group-horizontal-lg check-list">
                <li class="list-group-item"> <i class="fas fa-check"></i> Web Standards</li>
                <li class="list-group-item"> <i class="fas fa-check"></i> Algo</li>
                <li class="list-group-item"> <i class="fas fa-check"></i> SEO</li>
                <li class="list-group-item"> <i class="fas fa-check"></i>Java </li>
                <li class="list-group-item"> <i class="fas fa-check"></i>PHP </li>
            </ul>    
        </div>

        <!-- // numic -->
        <div class="education-container shadow">
            <div class="education row">
                <div class="left col-lg-8  col-sm-12">
                    <p class="pl-5"><i class="far fa-calendar-alt"></i> 2016 - 2017</p>
                    <h2 class=""> <i class="fas fa-location-arrow"></i> Master 1 Numic</h2>
                    <h3 class="pl-5">Université Rennes 2 </h3>
                </div>
                <div class="col-lg-4 col-sm-12 text-center pic-container">
                    <img src="../assets/images/numic.png" width="160">
                </div>
            </div>
            <ul class="list-group list-group-horizontal-lg check-list">
                <li class="list-group-item"> <i class="fas fa-check"></i> Web Standards</li>
                <li class="list-group-item"> <i class="fas fa-check"></i> WebDesign</li>
                <li class="list-group-item"> <i class="fas fa-check"></i>{{'school.360' | translate}} </li>
            </ul>    
        </div>

          <!-- // paul va -->
          <div class="education-container shadow">
            <div class="education row">
                <div class="left col-lg-8  col-sm-12">
                    <p class="pl-5"><i class="far fa-calendar-alt"></i> 2009 - 2012</p>
                    <h2 class=""> <i class="fas fa-location-arrow"></i>{{'school.mtp' | translate}} </h2>
                    <h3 class="pl-5">{{'school.mtpFac' | translate}} (Montpellier)</h3>
                </div>
                <div class="col-lg-4 col-sm-12 text-center pic-container">
                    <img src="../assets/images/paulva.png" width="160">
                </div>
            </div>
    
        </div>
    </section>
</div>
