<div class="container">
    <hr>
    <h1 class="text-center"> <i class="fas fa-graduation-cap"></i> Formations</h1>

    <section class="edcuation-wrapper">
        <!-- // aelion -->
        <div class="education-container shadow">

            <div class="education row">
                <div class="left col-lg-8 col-sm-12 udemy">
                    <p class="pl-5"><i class="far fa-calendar-alt"></i>2017/2020</p>
                    <div class="row">
                    <h2 class=""> <i class="fas fa-location-arrow"></i> Formation Django & Python</h2>
                    <h2 class=""> <i class="fas fa-location-arrow"></i> Angular 9 et Firebase</h2>
                    <h2 class=""> <i class="fas fa-location-arrow"></i> Spring Boot & Angular Course</h2>
                    <h2 class=""> <i class="fas fa-location-arrow"></i> Développeur Web</h2>
                    <h2 class=""> <i class="fas fa-location-arrow"></i>Photoshop for Webdesign</h2>
                </div>
                <h3 class="pl-5">Udemy (Formation En Ligne)</h3>
                </div>
                <div class="col-lg-4 col-sm-12 text-center pic-container">
                    <img src="../assets/images/udemy.png" width="160">
                </div>
            </div>
            <ul class="list-group list-group-horizontal-lg check-list">
                <li class="list-group-item"> <i class="fas fa-check"></i> Html/Css3/JS</li>
            <li class="list-group-item"> <i class="fas fa-check"></i> Spring Boot</li>
            <li class="list-group-item"> <i class="fas fa-check"></i> Angular</li>
            <li class="list-group-item"> <i class="fas fa-check"></i> Git</li>
            <li class="list-group-item"> <i class="fas fa-check"></i> SQL</li>
            <li class="list-group-item"> <i class="fas fa-check"></i> PHP</li>
            <li class="list-group-item"> <i class="fas fa-check"></i> Photoshop</li>

            </ul>
        </div>
        <!-- // aelion -->
        <div class="education-container shadow">

            <div class="education row">
                <div class="left col-lg-8 col-sm-12">
                    <p class="pl-5"><i class="far fa-calendar-alt"></i> Décembre 2019 - Mars 2020</p>
                    <h2 class=""> <i class="fas fa-location-arrow"></i> Formation Java Fullstack(Spring Boot/Angular)</h2>
                    <h3 class="pl-5">Aelion (Toulouse)</h3>
                </div>
                <div class="col-lg-4 col-sm-12 text-center pic-container">
                    <img src="../assets/images/aelion.png" width="160">
                </div>
            </div>
            <ul class="list-group list-group-horizontal-lg check-list">
          
            <li class="list-group-item"> <i class="fas fa-check"></i> Spring Boot</li>
            <li class="list-group-item"> <i class="fas fa-check"></i> Angular</li>
            <li class="list-group-item"> <i class="fas fa-check"></i> Git</li>
            <li class="list-group-item"> <i class="fas fa-check"></i> MySql/PosgreSQL</li>
            </ul>
        </div>

        <!-- // 123 -->
        <div class="education-container shadow">
            <div class="education row">
                <div class="left col-8">
                    <p class="pl-5"><i class="far fa-calendar-alt"></i> Aout 2019 - Novembre 2019</p>
                    <h2 class=""> <i class="fas fa-location-arrow"></i> Stage Développeur Web</h2>
                    <h3 class="pl-5">132Multimedia (Toulouse)</h3>
                </div>
                <div class="col-4 text-center pic-container">
                    <img src="../assets/images/123.png" width="160" class="my-auto">
                </div>
            </div>
            <ul class="list-group list-group-horizontal-lg check-list">
                <li class="list-group-item"> <i class="fas fa-check"></i> WebDesign/Intégration</li>
                <li class="list-group-item"> <i class="fas fa-check"></i> Asp.Net MVC</li>
                <li class="list-group-item"> <i class="fas fa-check"></i> Git</li>
                <li class="list-group-item"> <i class="fas fa-check"></i> Bootstrap</li>
            </ul>
        </div>
        <!-- // adrar -->
        <div class="education-container shadow">
            <div class="education row">
                <div class="left col-8">
                    <p class="pl-5"><i class="far fa-calendar-alt"></i> Mars 2019 - Novembre 2019</p>
                    <h2 class=""> <i class="fas fa-location-arrow"></i> Formation Développeur Web &Mobile</h2>
                    <h3 class="pl-5">Adrar (Toulouse)</h3>
                </div>
                <div class="col-4 text-center">
                    <img src="../assets/images/adrar.png" width="160">
                </div>
            </div>
            <ul class="list-group list-group-horizontal-lg check-list">
                <li class="list-group-item"> <i class="fas fa-check"></i> Standards du Web</li>
                <li class="list-group-item"> <i class="fas fa-check"></i> Algo</li>
                <li class="list-group-item"> <i class="fas fa-check"></i> SEO</li>
                <li class="list-group-item"> <i class="fas fa-check"></i>Java </li>
                <li class="list-group-item"> <i class="fas fa-check"></i>PHP </li>
            </ul>    
        </div>
        <!-- // adrar -->
        <div class="education-container shadow">
            <div class="education row">
                <div class="left col-8">
                    <p class="pl-5"><i class="far fa-calendar-alt"></i> Mars 2019 - Novembre 2019</p>
                    <h2 class=""> <i class="fas fa-location-arrow"></i> Formation Développeur Web &Mobile</h2>
                    <h3 class="pl-5">Adrar (Toulouse)</h3>
                </div>
                <div class="col-4 text-center">
                    <img src="../assets/images/adrar.png" width="160">
                </div>
            </div>
            <ul class="list-group list-group-horizontal-lg check-list">
                <li class="list-group-item"> <i class="fas fa-check"></i> Standards du Web</li>
                <li class="list-group-item"> <i class="fas fa-check"></i> Algo</li>
                <li class="list-group-item"> <i class="fas fa-check"></i> SEO</li>
                <li class="list-group-item"> <i class="fas fa-check"></i>Java </li>
                <li class="list-group-item"> <i class="fas fa-check"></i>PHP </li>
            </ul>    
        </div>

        <!-- // numic -->
        <div class="education-container shadow">
            <div class="education row">
                <div class="left col-8">
                    <p class="pl-5"><i class="far fa-calendar-alt"></i> 2016 - 2017</p>
                    <h2 class=""> <i class="fas fa-location-arrow"></i> Master 1 Numic</h2>
                    <h3 class="pl-5">Université Rennes 2 </h3>
                </div>
                <div class="col-4 text-center">
                    <img src="../assets/images/numic.png" width="160">
                </div>
            </div>
            <ul class="list-group list-group-horizontal-lg check-list">
                <li class="list-group-item"> <i class="fas fa-check"></i> Standards du Web</li>
                <li class="list-group-item"> <i class="fas fa-check"></i> WebDesign</li>
                <li class="list-group-item"> <i class="fas fa-check"></i> Conception de visites virtuelles</li>
            </ul>    
        </div>

    </section>
</div>
