.home-nav{
    background-color: rgba(0,0,0,0.2);
    ul li a{
        color: darkorange;
        font-weight: lighter;
        width: 140px;
    }
    .navbar-toggler, .navbar-toggler-icon, a{
        color: darkorange !important;
    }
    button{
        border: none;
    }

}

// 'navbar navbar-expand-lg navbar-dark fixed-top'