.home-nav{
    background-color: rgba(0,0,0,0.2);
    ul li a{
        color: darkorange;
        font-weight: lighter;
    }
    .navbar-toggler, .navbar-toggler-icon, a{
        color: darkorange !important;
    }
    button{
        border: none;
    }
    ul li a:hover{
        border-bottom: solid 1px darkorange;
    } 

}

nav ul li a {
    margin: 0 40px;
    text-align: center;
    border-bottom: solid 1px transparent;
    transition: all .6s ease;
    color: navy;
}
nav ul li a:hover{
    border-bottom: solid 1px #333;
    color: #333;
} 
.is-active{
    border-bottom: solid 1px #333 !important;
    color: #333 !important;
    font-weight: 600;
}
.flags{
    position: absolute;
    right: 10px;
}
.lang-switch{
    margin-left: 10px;
    transition: ease .6s;
    border-radius: 50%;
}
.lang-switch:hover{
 opacity: .8;
 transform:scale(1.1);
 cursor:pointer;
 box-shadow: 1px 1px 1px #ccc, -1px -1px 1px #ccc;
}

// 'navbar navbar-expand-lg navbar-dark fixed-top'