<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-lg-4 text-white text-center ">
          <p>
            2020 <i class="far fa-copyright"></i> Sylvain Pi 
        </p>
        </div>
        <div class="col-lg-4 text-white text-center">
            <p>
                <a routerLink="contact" rel="noopener noreferrer">
                    <i class="far fa-paper-plane"></i> Contact
                </a>

            </p>
        </div>
        <div class="col-lg-4 text-white text-center">
          <span>
              <a href="https://www.linkedin.com/in/sylvain-pillet/" target="_new" rel="noopener noreferrer" title="Linkedin">
                <i class="fab fa-linkedin"></i>
            </a>
          </span>
          <span>
              <a href="https://github.com/sylpi10" target="_new" rel="noopener noreferrer" title="Github">
                <i class="fab fa-github"></i>
            </a>
          </span>
          <span>
              <a href="../assets/images/Sylvain_Pillet_CV_2020.pdf" target="_new" title="CV" rel="noopener noreferrer">
                <i class="far fa-file-pdf"></i>
            </a>
          </span>
        </div>

  
        <!-- <hr class="clearfix w-100 d-md-none pb-3"> -->
