
footer{
    background-color: #0a0a22;
    a{
        color: #fff;
        &:hover{
           color: skyblue;
        }
    }
    span i{
        font-size: 1.8rem;
        margin:0 10px;
        &:hover{
            color: skyblue;
        }
    }
}

@media screen and (max-width: 1000px) {
    footer a, footer span {
        padding-bottom: 60px;
    }
}