<div class="container">
    <hr>
    <h1 class="text-center">{{'about.title' | translate}} </h1>

    <div class="about-wrapper">
        <!-- presentation -->
        <div class="me row">
            <div class="col-lg-8 col-sm-12 about-text text-center">
                <p>
                {{'about.about' | translate}}
            </p>
            <hr>
            <img src="../assets/images/person.png" width="30" alt="Person icon">
            <h4>Sylvain, 30 ans, Toulouse</h4>

            </div>   
            <div class="col-lg-4 col-sm-12 mx-auto text-center">
                <img src="../assets/images/me.png" width="200" class="me-pic shadow-lg" alt="Profile picture">
            </div>
        </div>

        <!-- sport like -->
        <div class="me row shadow text-center mt-5 p-5">
            <div class="col-lg-3">
                <img src="../assets/images/soccer.png" width="80" alt="Ball Picture">
            </div>
            <p class="col-lg-6 col-sm-12">
                {{'about.sport' | translate}}
            </p>
            <div class="col-lg-3">
                <img src="../assets/images/climb.png" width="80" alt="Ball Picture">
            </div>
        </div>
        <!-- camp like -->
        <div class="me row shadow text-center mt-5 p-5">
            <div class="col-lg-3">
                <img src="../assets/images/camping.png" width="80" alt="Ball Picture">
            </div>
            <p class="col-lg-6 col-sm-12">
               {{'about.hike' | translate}}
            </p>
            <div class="col-lg-3">
                <img src="../assets/images/fire.png" width="80" alt="Ball Picture">
            </div>
        </div>
        <!-- book like -->
        <div class="me row shadow text-center mt-5 p-5">
            <div class="col-lg-3">
                <img src="../assets/images/book.png" width="80" alt="Ball Picture">
            </div>
            <p class="col-lg-6 col-sm-12">
                {{'about.book' | translate}}
            </p>
            <div class="col-lg-3">
                <img src="../assets/images/cinema.png" width="80" alt="Ball Picture">
            </div>
        </div>
    </div>
</div>
