<div class="container rouned shadow gb-white p-5">
    <div class="row">
        <div class="col-12 d-flex">
            <h2>projects</h2>    
            <button class="btn btn-primary ml-auto" type="button" data-toggle="modal" data-target="#formAddProject" (click)="resetForm()">
                
               <i class="fa fa-plus"></i> New Project</button>
        </div>
    </div>
    <div class="row"></div>
    <hr class="mb-5">

    <!-- list of projects  -->
    <div *ngFor="let project of projects; let i = index"  class="col-12 shadow-sm p-4 mb-3 bg-light">
        <div class="d-flex">
            <h3>{{project.projectName}}</h3> 
            <!-- update buton -->
            <div class="ml-auto">
                <button class="btn btn-primary m-1" type="button" (click)="onEditProject(project)">
                    <i class="fa fa-edit"></i>
                </button>
                <!-- delete button  -->
                <button class="btn btn-danger m-1" type="button" data-toggle="modal" 
                data-target="#confirmDeletion" (click)="onDeleteProject(i)"
                >
                    <i class="fa fa-trash-alt"></i>
                </button>
            </div>    
         
        </div>
        <p><span *ngIf="project.projectDate" >{{ project.projectDate }}</span>,
           <span *ngIf="project.description && project.description != '' ">{{ project.description | slice:0:60 }}...</span> 
        </p>
        <div class="col-3">
            <div class="" *ngFor="let photo of project.photos; let first = first">
                <img *ngIf="first" [src]="photo" width="300" alt="">
            </div>
        </div>
        <ul *ngFor="let techName of project.techno?.split(',')">
            <li *ngIf="project.techno && project.techno != ''" >
            {{techName | titlecase}}    
            </li>
        </ul>
    </div>

</div>

   <!-- modal to confim deletion  -->
   <div class="modal fade" tabindex="-1" role="dialog" id="confirmDeletion">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        
            <div class="modal-body">
            <p>Are you sure dude ???</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No !!! </button>
            <button type="button" class="btn btn-danger" (click)="onConfirmDeleteProject()">Yes, Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- // modal to add new project  -->

<div class="modal fade w-100" tabindex="-1" id="formAddProject" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

        <form [formGroup]="projectForm" (ngSubmit)="onSubmitProjectForm()">
            <div class="modal-header">
                <h5 class="modal-title">New Project</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <!-- body -->
              <div class="modal-body">
               
                <div class="form-group row">
               
                    <div class="form-group col-6">
                        <input type="text" class="form-control" placeholder="Name" formControlName="projectName" required>
                    </div> 
                    <div class="form-group col-6">
                        <input type="date" class="form-control" placeholder="Creation Date" formControlName="projectDate" >
                    </div> 
                </div>
                
                <div class="form-row">
                    <div class="form-group col-6">
                        <textarea cols="50" rows="6" placeholder="Description" formControlName="description" ></textarea>
                       </div> 
                </div>

                    <!-- display loaded img -->
                    <div class="row">
                        <div class="border-primary border border-secondary rounded m-2 p-2 col-4" 
                        *ngFor="let photo of photosAdded; let i = index">
                            <span class="text-danger position-absolute mr-1 deletePhoto" (click)="onRemoveAddedPhoto(i)">
                                <i class="fas fa-times"></i>
                            </span>
                            <img [src]="photo" class="p-2 border-secondary w-100"  alt="">
                        </div>
                    </div> 
                <!-- load picture  -->
                <div class="input-group mb-3">
                    
                                
                    <!-- // choose image -->
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="inputGroupFile01"
                      (change)="onUploadFile($event)"
                      aria-describedby="inputGroupFileAddon01">
                      <label class="custom-file-label" for="inputGroupFile01">Choose image</label>
                    </div>
                  </div>
                  <!-- loader -->
                  <div class="text-center">
                    <div class="spinner-border" role="status" *ngIf="photoUploading">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </div>
                  
                <!-- add technologies -->
                  <div class="technologies border p-1">
                  <div class="input-group m-2">
                    <input type="text" class="form-control" placeholder="Technologies separated with ', '" 
                    formControlName="techno">
                 </div>
                </div>


                <!-- links -->
                <div class="form-group row mt-2">
                    <div class="col-4">
                        <input type="text" class="form-control" placeholder="Web Link" formControlName="webLink" >
                    </div>
                    <div class="col-4">
                        <input type="text" class="form-control" placeholder="github link" formControlName="githubLink" >
                    </div>
                    <div class="col-4">
                        <input type="text" class="form-control" placeholder="mockUp" formControlName="mockUp" >
                    </div>
                </div>

                  <!--modal bottom -->
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Canceled</button>
                  <button type="submit" class="btn btn-primary" [disabled]="projectForm.invalid" >Save</button>
              </div>

            </form>

        </div>
    </div>
  </div>