<div class="container rouned shadow gb-white p-5">
    <div class="row">
        <div class="col-12 d-flex">
            <h2>projects</h2>    
            <button class="btn btn-primary ml-auto" type="button" 
            data-toggle="modal" data-target="#formAddProject" (click)="resetForm()">
                
               <i class="fa fa-plus"></i> New Project</button>
        </div>
    </div>
    <div class="row"></div>
    <hr class="mb-5">

    <!-- list of projects  -->
    <div *ngFor="let project of projects"  class="col-12 shadow-sm p-4 mb-3 bg-light">
        <div class="d-flex">
            <h3>{{project.projectName}}</h3> 
            <div class="ml-auto">
                <button class="btn btn-primary m-1">
                    <i class="fa fa-edit"></i>
                </button>
                <button class="btn btn-danger m-1">
                    <i class="fa fa-trash-alt"></i>
                </button>
            </div>    
        </div>
        <p><span *ngIf="project.projectDate && project.projectDate != ''" >{{ project.projectDate }}</span>,
           <span *ngIf="project.description && project.description != '' ">{{ project.description | slice:0:60 }}...</span> </p>
    </div>

</div>


<!-- // modal to add new project  -->

<div class="modal fade" tabindex="-1" id="formAddProject" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

        <form [formGroup]="projectForm" (ngSubmit)="onSubmitProjectForm()">
            <div class="modal-header">
                <h5 class="modal-title">New Project</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <!-- body -->
              <div class="modal-body">
               
                <div class="form-group row">
               
                    <div class="form-group col-6">
                        <input type="text" class="form-control" placeholder="Name" formControlName="projectName" required>
                    </div> 
                    <div class="form-group col-6">
                        <input type="date" class="form-control" placeholder="Creation Date" formControlName="projectDate" >
                    </div> 
                </div>
                
                <div class="form-row">
                    <div class="form-group col-6">
                        <textarea cols="50" rows="6" placeholder="Description" formControlName="description" ></textarea>
                       </div> 
                </div>
                  
                <!-- add technologies -->
                    <!-- TODO: input with words & create the array later with split
                    string.split([separator][, limit]); -->
                  <div class="technologies border p-1">
                  <div class="input-group m-2">
                    <input type="text" class="form-control" placeholder="Technology" 
                    formControlName="techno1">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button">Add</button>
                    </div>
                  </div>
                  <div class="input-group m-2">
                    <input type="text" class="form-control" placeholder="Technology" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button">Add</button>
                    </div>
                  </div>
                  <div class="input-group m-2">
                    <input type="text" class="form-control" placeholder="Technology" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button">Add</button>
                    </div>
                  </div>
                  <div class="input-group m-2">
                    <input type="text" class="form-control" placeholder="Technology" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button">Add</button>
                    </div>
                  </div>
                  <div class="input-group m-2">
                    <input type="text" class="form-control" placeholder="Technology" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button">Add</button>
                    </div>
                  </div>
                </div>


                <!-- links -->
                <div class="form-group row mt-2">
                    <div class="col-4">
                        <input type="text" class="form-control" placeholder="Web Link" formControlName="webLink" >
                    </div>
                    <div class="col-4">
                        <input type="text" class="form-control" placeholder="github link" formControlName="githubLink" >
                    </div>
                    <div class="col-4">
                        <input type="text" class="form-control" placeholder="mockUp" formControlName="mockUp" >
                    </div>
                </div>

                  <!--modal bottom -->
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Canceled</button>
                <button type="button" type="submit" class="btn btn-primary" [disabled]="projectForm.invalid" >Save</button>
              </div>

            </form>

        </div>
    </div>
  </div>