<div class="container rouned shadow gb-white p-5">
    <div class="row">
        <div class="col-12 d-flex">
            <h2>projects</h2>    
            <button class="btn btn-primary ml-auto" type="button" data-toggle="modal" data-target="#formAddProject">
                
               <i class="fa fa-plus"></i> New Project</button>
        </div>
    </div>
    <div class="row"></div>
    <hr class="mb-5">
</div>


<!-- // modal to add new project  -->

<div class="modal fade" tabindex="-1" id="formAddProject" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <form action="">
            <div class="modal-header">
                <h5 class="modal-title">New Project</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
               
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Name">
                </div>
                
                <div class="form-row">
                    <div class="form-group col-6">
                        <input type="date" class="form-control" placeholder="Create Date">
                    </div> 
                </div>
                
                <div class="form-row">
                    <div class="form-group col-6">
                        <textarea name="" id="" cols="50" rows="6">Description</textarea>
                       </div> 
                </div>
                  
                <!-- add technologies -->
                  <div class="technologies border p-1">
                  <div class="input-group m-2">
                    <input type="text" class="form-control" placeholder="Technology" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button">Add</button>
                    </div>
                  </div>
                  <div class="input-group m-2">
                    <input type="text" class="form-control" placeholder="Technology" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button">Add</button>
                    </div>
                  </div>
                  <div class="input-group m-2">
                    <input type="text" class="form-control" placeholder="Technology" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button">Add</button>
                    </div>
                  </div>
                  <div class="input-group m-2">
                    <input type="text" class="form-control" placeholder="Technology" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button">Add</button>
                    </div>
                  </div>
                  <div class="input-group m-2">
                    <input type="text" class="form-control" placeholder="Technology" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button">Add</button>
                    </div>
                  </div>
                </div>

                  <!--modal bottom -->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Canceled</button>
              </div>
            </form>

        </div>
    </div>
  </div>