<div class="container">
    <hr>
    <h1 class="text-center">{{'projects.title' | translate}}</h1>

    <hr>

    <div class="bg-light p-2 my-3 shadow row" *ngFor="let project of projects">

        <div class="col-lg-6 col-sm-12">
            <ul class="">
                <li><h2>{{project.projectName | titlecase}}</h2></li>
                <hr>
                <li class="my-3 text-secondary"><i class="far fa-calendar-alt"></i> {{project.projectDate | date : "yyyy"}}</li>
                <li class="my-3" *ngIf="currentLang ==='fr'">
                   <p [innerHTML]="project.description">
                    </p>
                </li>

                <li class="my-3" *ngIf="currentLang === 'en'">
                    {{project.englishDescription}}
                </li>

                <li class="my-4" *ngFor="let photo of project.photos; let first = first">
                    <img *ngIf="first" [src]="photo" width="400" alt="" class="shadow img-fluid">
                </li>
              
    
            </ul>
        </div>

        <!-- right part of project  -->
        <div class="techno-stack col-lg-6 col-sm-12 text-center">
            <h3 class='text-center'> <i class="fas fa-cog"></i> Stack</h3>
            <hr>

            <div class="techno-list ">
                <ul class="col-sm-12 the-technos">
                    <li class="techno"*ngFor="let techName of project.techno?.split(',')">
                     <span *ngIf="project.techno && project.techno != ''" >
                         <i class="fas fa-location-arrow"></i> {{techName | titlecase}}   

                     </span>
                    </li>
                </ul>

                    <!-- // second pic from project to put on bg -->
                <div *ngFor="let pic of project.photos; let first = first"> 
                    <img *ngIf="!first" [src]="pic" alt="" width="300" class="techno-bg">
                </div>

            </div>
          
            <hr>

            <!-- links list  -->
            <ul class="list-group list-group-horizontal project-links">
                <a href="{{project.webLink}}" title="{{ 'projects.linkWeb' | translate }}" target="new">
                <li class="list-group-item" *ngIf="project.webLink && project.webLink !== ''" >
                   
                      <img src="../assets/images/code.png" alt="Web link image" width="44">
                    </li>
                </a> 
                <li class="list-group-item" *ngIf="project.githubLink && project.githubLink !== ''" >
                    <a href="{{project.githubLink}}" title="{{ 'projects.linkgithub' | translate }}" target="new">
                        <img src="../assets/images/git.png" alt="Github link image" width="44">
                    </a> </li>
            </ul>
        </div>
      
        
        <hr> 
    </div>
   
</div>

