h1, h2, h3{
    // font-family: Grammara;
    margin: 30px auto;
    font-family: 'Share Tech', sans-serif;
    color: #0d0d41;
}

// right part 
.techno-stack{
    width: 100%;
    .techno-list{
        width: 100%;
        margin: auto;
        padding: 4px;
        .the-technos{
            width: 80%;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            justify-content: space-between;
            li{
                text-align: left;
                margin: auto;
                height: 40px;
                width: 140px;
            }
        }
    }
    .project-links{
        display: flex;
        justify-content: space-around;
        .list-group-item{
            transition: ease .4s;
        }
        .list-group-item:hover{
            transform: scale(1.13);
            box-shadow: 2px 2px 2px #eee, -2px -2px 2px #eee;
        }
    }
    .techno-bg{
        opacity: .06;
        width: 80%;
        margin: auto;
        position: relative;
        margin-top: -58%;
    }
   
}

ul{
    list-style-type: none;
}

.fa-location-arrow{
    transform: rotate(45deg);
    font-size: .8rem;
}
i{
    margin-right: 7px;
}

@media screen and (max-width: 580px){
    .techno-stack{
            .the-technos{
                width: 80%;
                margin: auto;
                li{
                    // text-align: left;
                    height: 40px;
                }
            }
        }
    }