.skills{
    display: flex;
    img{
        align-self: center;
        margin: 14px;
    }
    .html, .ps{
        transform: rotate(10deg);
    }
    .js, .php{
        transform: rotate(-10deg);
    }
    p{
        align-self: center;
    }
}

.skills-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    ul li{
        font-size: 1rem;
        flex-shrink: 0;
    }
}