/* You can add global styles to this file, and also import other style files */
.container{
    margin-top: 80px;
}

h1, h2, h3{
    // font-family: Grammara;
    margin: 30px auto;
    font-family: 'Share Tech', sans-serif;
    color: #0d0d41;
}