<div class="container-fluid">

    <div class="content">
        <div class="content__container">
          <ul class="content__container__list">
              <li class="content__container__list__item">{{'home.dev' | translate}} </li>
              <li class="content__container__list__item">Designer </li>
          </ul>
        </div>
        <div class="content__container">
          <ul class="content_container2">
              <li class="web">Web </li>
              <li class="web">Mobile </li>
          </ul>
        </div>
</div>
