.container-fluid{
    background: url('../../assets/images/bulb.jpg') no-repeat;
    background-size: cover;
    height: 100vh;
    margin-top: -60px;   
    background-color: #fff;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}

// rolling title 
.content {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-self: center;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    overflow:hidden;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 40px;
    color: navy;
    width: 300px;
    padding-bottom: 2px;
    padding-right: 20px;
    
    &__container {
      font-weight: 300;
      overflow: hidden;
      height: 40px;
  
      &:before {
        content: '[';
        left: 10px;
      }
  
      &:after {
        content: ']';
        position: absolute;
        left: 284px;
      }
  
      &:after, &:before {
        position: absolute;
        top: 0; 
        color: #333;
        font-size: 42px;
        line-height: 40px;   
        -webkit-animation-name: opacity;
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
        animation-name: opacity;
        animation-duration: 2s;
        animation-iteration-count: infinite;
      }
  
    
    &__list {
        // margin-top: 0;
        // padding-right: 0px;
        text-align: left;
        list-style: none;  
        -webkit-animation-name: change;
        -webkit-animation-duration: 3s;
        -webkit-animation-iteration-count: infinite;
        animation-name: change;
        animation-duration: 4s;
        animation-iteration-count: infinite;
  
        &__item {
          line-height:40px;
          margin:0;
        }
      }
    }
    
  }
  .content_container2{
    text-align: left;
    list-style: none;  
    -webkit-animation-name: change2;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 1.4s;
  }

  
  @keyframes opacity {
    0%, 100% {opacity:0;}
    50% {opacity:1;}
  }
  
  @keyframes change {
    0%, 12.66%, 100% {transform:translate3d(0,0,0);}
    33.32%,45.98% {transform:translate3d(0,-50%,0);}
    66.64%,79.3% {transform:translate3d(0,-50%,0);}
  }
  @keyframes change2 {
    0%, 12.66%, 100% {transform:translate3d(0,0,0);}
    33.32%,45.98% {transform:translate3d(0,-50%,0);}
    66.64%,79.3% {transform:translate3d(0,-50%,0);}
  }
